# This file is managed centrally by modulesync
#   https://github.com/theforeman/foreman-installer-modulesync

## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp
*.swo
tags

## Bundler
Gemfile.lock
.bundle
vendor/

## rbenv / rvm
.rbenv*
.rvmrc*
.ruby-*

## rspec
spec/fixtures/

## Puppet module
pkg/
coverage/
